<br/>
<div class="booyah-box col-10 offset-1">
   
    <h1 class = "hero-title main text-center">Browse Trails</h1>
    <div class = "col text-right" >
      <%= link_to 'Submit New Trail', new_trail_path, class: 'btn btn-info' %>
    </div>

  <br />
  <br/>


  <% @trails.each do |trail| %>
    <div class="booyah-box alt-booyah col-10 offset-1">
    <h2> <%= link_to trail.name, trail_path(trail) %> </h2><br/>
    <h4> Duration: <%= trail.duration %> </h4>
    <h4> <%= trail.address %> </h4> 

    <% if trail.user.present? %>
      <small>Posted By:</small>
      <small><%= trail.user.email %></small>
    <% end %>
    <br/>
    <br/>

    </div>  
    <br/>
  <% end %>

<br/>
<br/>
</div>


<br/>
<br/>
