<br/>
<div class="booyah-box col-10 offset-1">    

    <div class = "col-12">
        <h1 class = "hero-title main text-center"><%= @trail.name %></h1><br/> 
        <h4> Duration: <%= @trail.duration %> </h4>
        <h4> <%= @trail.address %> </h4>
        <% if @trail.user.present? %>
          <small>Posted By: <%= @trail.user.email %></small>
        <% end %> 
    </div>    

    <div class = "float-right">
      <% if current_user && current_user == @trail.user %>  
      <%= link_to 'Remove', trail_path(@trail), method: :delete, data: {confirm: 'Are you sure you want to remove this?'}, class: 'btn btn-danger' %>
      <% end %>

    </div>

    <br/>

    <br/>


    <br/>



<% if @trail.latitude.present? && @trail.longitude.present? %>
  <script>

    function initMap() {
      var myLatLng = {lat: <%= @trail.latitude %>, lng: <%= @trail.longitude %>};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: myLatLng
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
      });
    }
  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMWOzB602X-rjqY6VozTMHFLO7zrwA4p4&callback=initMap">
  </script>

  <div id="map"></div>
<% end %>
<div class = "clear"></div>
<br/>
<br/>
    <h1 class = "hero-title main text-center"> Leave a Comment!</h1>
    <%= simple_form_for @comment, url: trail_comments_path(@trail) do |f| %>
      <%= f.input :message %>
      <%= f.input :rating, as: :select, collection: Comment::RATINGS %>
      <%= f.submit "Add a Comment", class: 'btn btn-primary' %>
    <% end %>
    <br/>
    <br/>
    <h1 class = "hero-title main text-center">Comments</h1>

    <% @trail.comments.each do |comment| %>
      <div>
        <blockquote>
          <% if comment.humanized_rating.present? %>
            <b><%= comment.humanized_rating %></b> -
          <% end %>  
            <%= comment.message %>
            <small>Left by: <%= comment.user.email %></small>
        </blockquote>
      </div>
    <% end %>

</div>
