<!DOCTYPE html>
<html>
  <head>
    <title>Trailster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


        <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background-color: #6bbeff;">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
 <!--         <a class="navbar-brand logo" href="#">Trailster</a> -->

          <%= link_to 'Trailster', root_path, class: 'navbar-brand logo' %>
          <br/>
          <br/>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            
            <ul class="navbar-nav mr-auto mt-2 mt-md-0">
               <%= link_to 'Browse', trails_path, class: 'nav-item ' %>
            </ul>

            <ul class = "navbar-nav">
              <% if user_signed_in? %>
                <li class = "nav-item">
                  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'navbar-link' %>
                </li>
              <% else %>
                <li class = "nav-item">
                  <%= link_to 'Sign In', new_user_session_path, class: 'navbar-link' %>
                </li>

                <li class="nav-item">
                  <%= link_to 'Register', new_user_registration_path, class: 'navbar-link' %>
                </li>                
              <% end %>
            </ul>

          </div>
        </nav>

        <% if notice.present? %>
          <p class="alert alert-info"><%= notice %></p>
        <% end %>
        <% if alert.present? %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
       
        <%= yield %>


      <div id = "footer">
        <div class = "container">
         

        <div class = "row">
          
          <div class = "col-12 col-sm-3">
            <b><u>Links</u></b>
            <br/>
            <%= link_to 'Home', root_path %>
            <br/>

            <%= link_to 'About Us', about_path %>
            <br/>

            <%= link_to 'Browse', trails_path %>
            <br/>



          </div>
            <div class = "col-12 col-sm-3">
            <b></b>
          </div>
          
          <div class = "col-12 col-sm-3">
            <b><u>Contact</u></b>
            <br/>
            my@email.com
            <br/>
            Secret Location
            <br />
            Misc. Address Drive
          </div>
          <div class = "col-12 col-sm-3 social">
            <b><u>Social</u></b>
            <br/>
            <br/>
            <%= link_to 'https://github.com/long-hoang' do %>
              <span class="fa fa-github-square fa-2x social-button"></span>
            <% end %>
            <span class="fa fa-facebook-square fa-2x social-button"></span>
            <span class="fa fa-twitter-square fa-2x social-button"></span>            
          </div>
        </div>

        </div>
      </div>

  </body>
</html>
