<!DOCTYPE html>
<html>
  <head>
    <title>Trailster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


        <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background-color: #6bbeff;">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
 <!--         <a class="navbar-brand logo" href="#">Trailster</a> -->

          <%= link_to 'Trailster', root_path, class: 'navbar-brand logo' %>
          <br/>
          <br/>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-md-0">
<!------
              <li class="nav-item">
                <a class="nav-link" href="#">Coming Soon</a>
              </li>
------>
            </ul>

          </div>
        </nav>

        <%= yield %>


      <div id = "footer">
        <div class = "container">
         

        <div class = "row">
          
          <div class = "col-12 col-sm-3">
            <b><u>Links</u></b>
            <br/>
            <%= link_to 'About Us', about_path %>
            <br/>

          </div>
            <div class = "col-12 col-sm-3">
            <b></b>
          </div>
          
          <div class = "col-12 col-sm-3">
            <b><u>Contact</u></b>
            <br/>
            my@email.com
            <br/>
            Secret Location
            <br />
            Misc. Address Drive
          </div>
          <div class = "col-12 col-sm-3 social">
            <b><u>Social</u></b>
            <br/>
            <br/>
            <%= link_to 'https://github.com/long-hoang' do %>
              <span class="fa fa-github-square fa-2x social-button"></span>
            <% end %>
            <span class="fa fa-facebook-square fa-2x social-button"></span>
            <span class="fa fa-twitter-square fa-2x social-button"></span>            
          </div>
        </div>

        </div>
      </div>

  </body>
</html>
